.cart-item{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #000;
    align-items: center;
}

.item-price{
    display: inline-block;
    padding: 0 10px;
    color: #ff5151;
    font-weight: 600;
}

.item-qty{
    display: inline-block;
    padding: 0 5px;
    border: 1px solid #000;
    border-radius:5px;
}
